<style>
  .footer-social {
    gap: 0.5em;
    float: right;
    display: flex;
    list-style: none;
    margin-right: 16px;
  }
  .footer-social img {
    width: 16px;
    height: 16px;
  }
</style>

<tr>
  <th class="expander"></th>
  <th class="small-6 first columns cityhall-bar">
    <div class="decidim-logo" style="float: left; text-align: left; padding-left: 16px">
      <% if @custom_url_for_mail_root.present? %>
        <%= link_to @organization.name.html_safe, @custom_url_for_mail_root %>
      <% else %>
        <%= link_to @organization.name.html_safe, decidim.root_url(host: @organization.host) %>
      <% end %>
    </div>
  </th>
  <th class="small-6 first columns cityhall-bar">
    <ul class="footer-social">
      <% if @organization.twitter_handler.present? %>
        <li>
          <a class="footer-social__icon" target="_blank" rel="noopener" href="https://twitter.com/<%= @organization.twitter_handler %>">
            <%= image_tag asset_url("icons/twitter") %>
          </a>
        </li>
      <% end %>
      <li>
        <a class="footer-social__icon" target="_blank" rel="noopener" href="https://pemb.cat/ca">
          <%= image_tag asset_url("icons/link") %>
        </a>
      </li>
      <li>
        <a class="footer-social__icon" target="_blank" rel="noopener" href="https://www.linkedin.com/company/11257078">

          <%= image_tag asset_url("icons/linkedin") %>
        </a>
      </li>
    </ul>
  </th>
</tr>