<tr>
  <th class="expander"></th>
  <th class="small-6 first columns cityhall-bar">
    <div class="decidim-logo" style="float: left; text-align: left; padding-left: 16px">
      <% if @custom_url_for_mail_root.present? %>
        <% url = @custom_url_for_mail_root %>
      <% else %>
        <% url = decidim.root_url(host: organization.host) %>
      <% end %>

      <%= link_to organization.name.html_safe, url %>
    </div>
  </th>
  <th class="small-6 first columns cityhall-bar">
    <ul class="footer-social">
      <% if organization.twitter_handler.present? %>
        <li>
          <a class="footer-social__icon" target="_blank" rel="noopener" href="https://twitter.com/<%= organization.twitter_handler %>">
            <%= image_tag asset_pack_url("icons/twitter.png", host: url), alt: organization.name.html_safe %>
          </a>
        </li>
      <% end %>
      <li>
        <a class="footer-social__icon" target="_blank" rel="noopener" href="https://pemb.cat/ca">
          <%= image_tag asset_pack_url("icons/link.png", host: url), alt: organization.name.html_safe %>
        </a>
      </li>
      <li>
        <a class="footer-social__icon" target="_blank" rel="noopener" href="https://www.linkedin.com/company/11257078">

          <%= image_tag asset_pack_url("icons/linkedin.png", host: url), alt: organization.name.html_safe %>
        </a>
      </li>
    </ul>
  </th>
</tr>
